@import "feedbacks.scss";
@import "footer.scss";
@import "header_mobile_menu.scss";
@import "header.scss";
@import "lang_menu.scss";
@import "our_mission.scss";
@import "main.scss";
@import "payment.scss";
@import "post_header.scss";
@import "why_us.scss";
@import "your-program.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Gilroy', Arial, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}
