.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 80%;
}

.title {
  font-size: 42px;
  margin-top: 30px;
}

.video {
  margin-top: 65px;
  border: 1px solid #241b1b;
  border-radius: 7px;
}

.content_item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.description {
  margin-top: 10px;
  text-align: justify;
  width: 65%;
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}