.program-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.program-item {
    width: 30%;
    height: 550px;
    border-radius: 26px;
    background-color: #F3F5F7;
    border: 1px solid #0bda51;
    position: relative;
}

.program-texts-wrapper {
    padding: 20px 20px 0 20px;
}


.program-item-title {
    font-size: 26px;
    font-weight: 700;
}

.program-item-subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
}

.program-btn-wrapper {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.program-btn {
    height: 45px;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #0bda51;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    padding: 5px;
    margin-top: 30px;
}

.program-img {
    width: 100%;
    max-height: 280px;
    border-radius: 26px;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 1400px) {
    .program-item {
        height: 450px;
    }

    .program-item-title {
        font-size: 22px;

    }

    .program-item-subtitle {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1200px) {
    .program-wrapper {
        flex-direction: column;

        :nth-child(1n + 2) {
            margin-top: 25px;
        }

    }

    .program-item {
        width: 300px;
    }

    .program-item-subtitle {
        margin-top: 5px !important;
    }

    .program-btn-wrapper {
        top: 30%;
    }

    .program-btn {
        font-size: 16px;
    }
}