.om_block {
  height: 530px;
  display: flex;
}

.om_block_left {
  background: #0bda51;
  color: #fff;
  width: 50%;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}

.om_block_right {
  width: 50%;
  height: 530px;
}

.om_image {
  width: 100%;
  height: 530px;
}

.wio_menu {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.wio_menu_item {
  font-size: 18px;
  cursor: pointer;
}

.wio_block {
  display: flex;
  height: 530px;
  padding: 50px;
}

.wio_block_item {
  width: 50%;
  padding: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.wio_image {
  width: 100%;
  height: 420px;
}
